html, body {
  margin: 0;
  padding: 0;
}
canvas{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

}

h3{
  text-decoration : underline;
  color: azure;
  text-emphasis-color: white;
  
}

h2{
  text-decoration : underline;
  color: azure;
  text-emphasis-color: white;
  
}

h5{
  text-decoration : underline;
  color: azure;
  text-emphasis-color: white;
  
}
